@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin day($day, $value1, $value2) {
  .calendar-#{$day} div:first-child {
    grid-column-start: $value1;
    grid-column-end: $value2;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Counter for each cell of the day
@for $i from 1 through 31 {
  .calendar-31 div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 30 {
  .calendar-30 div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 29 {
  .calendar-29 div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 28 {
  .calendar-28 div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}
